<header class="flex flex-row justify-between items-center container mx-auto">
<h1 class="tracking-tighter font-mono text-3xl md:text-5xl lg:text-7xl ms-1 mt-2 md:ms-0 mt-0 font-bold text-stone-700 text-left logo-shadow">Piotr Glaza</h1>
 <div>
 <button class="block lg:hidden">X</button>
 <ul class="hidden lg:flex md:flex-row space-x-12 font-bold text-stone-500 uppercase">
<li><a href="#">Home</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#" class="bg-button-primary btn-basic">Contact</a></li>
 </ul>
 </div>

</header>