{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}
{% block body %}

	{% include('partials/header.html.twig') %}
	<div class="container mx-auto flex flex-col items-center sm:items-start">
		<h3 class="text-2xl font-bold mt-8">Article</h3>

	
	</div>
	{% include('partials/footer.html.twig') %}
{% endblock %}
