<!DOCTYPE html>
<html class="overflow-x-hidden">
	<head>
	{# rel links for pagination #}

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="build/app.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
<body class="bg-admin-background font-mono text-slate-200 overflow-hidden"> 
{% include('admin/partials/top-nav.html.twig') %}
