{% include('admin/partials/header.html.twig') %}

{% block body %}{% endblock %}
<div class="lg:container mr-4 lg:mx-auto">
	<h1>Tags</h1>
	<table class="table-auto border-spacing-2 border-collapse border w-fit text-left">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
        <tr>
        <td>1</td>
        <td>Name</td>
        <td><a href="#" class="btn-basic bg-button-secondary">Edit</a></td>
        </tr>
        
        </tbody>
	</table>
    <div class="flex flex-row">
    <a href="#" class="mt-4 btn-basic bg-button-ternary" >Add</a>
    </div>
</div></body></html>
