{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="admin-form container mx-auto mt-4">
{% if isNewCategory == true %}
		Add new Category
	{% else %}
		Edit existing category
	{% endif %}
   {{ form(form) }}
</div>
{% endblock %}
